.rail-movie {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 20px;

  scrollbar-width: none;
}

.rail-movie::-webkit-scrollbar {
  display: none;
}

h1.title {
  font-size: 24px;
  color: white;
  margin: 20px 0;
}
